/* */
body{ 
    color: #24292e;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;   
}

/*start debug*/
.bg-grey{
    background-color: #c0c0c0;
}
.bg-aquamarine{
    background-color: aquamarine
}
/*end debug*/

/*start container*/
.container{
    margin: 10px auto;
    overflow: auto;
    width: 90%;

}
.container-full{
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

/*end container*/

/* start menu galeri*/
.menu-galeri a{
    text-align: center;
    display: inline-block;
}
.galeri a{
    text-align: center;
    display: inline-block;
}
.image{
    text-align: center;
}

/* start menu galeri*/

/* start bingkai*/
.bingkai{
    float: left;
    width: 24%;
}
/* start bingkai*/

/*start anchor / hyperlink*/
a:link,
a:visited{
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active{
    color: #000000;
    text-decoration: underline;
}

/*end anchor / hyperlink*/

/*start logo*/
.logo{
    text-align: center;
}
/*end logo*/

/*start menu primer*/
.menu-primer ul {
    background-color: grey;
    border-radius: 4px;
}
.menu-primer li{
    border-right:  1px solid black;
    display: inline-block;
}
.menu-primer a{
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.menu-primer .hover{
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}
.menu-primer .active{
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}
/*end menu*/

/* start heading*/
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* end heading*/

/*start jumbotron*/
.jumbotron{
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1{
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3{
    font-size: 32px;
    padding: 0 20px;
}
/*end jumbotron*/

/*start main*/
.main-home-one{
    float: left;
    width: 49%;
}

.main-home-two{
    float: right;
    width: 49%;
    
}
.main-home-one .box-isi,
.main-home-two.box-isi{
    height: 145 px;
}
/*end main*/

/*start box*/
.box-heading{
    background-color: grey;
    border: 1px solid gray;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-isi{
    background-color: #ffffff;
    border: 1px solid gray;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;

}
/*end box*/

/*start menu sekunder*/
.menu-sekunder{
    background-color: #cac8c8;
    border-bottom: 1px solid white;
    border-top: 1px solid gray;
    overflow: auto;
    padding: 10px 0;
    margin-top: 20px;
}
.jarak{
    margin-top: 50px;
}
.menu-sekunder h2{
    font-size: 14px;
    margin: 0 auto;
    padding:0;
    text-transform: uppercase;
}
.menu-sekunder ul{
    padding: 0;
}
.menu-sekunder li{
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunder p{
    font-size: 15px;

}
.menu-sekunder-one,
.menu-sekunder-two{
    float: left;
    width: 50%;
}
/*start menu sekunder*/

/*start copyright*/
.copyright{
    font-size: 15px;
}
/*end copyright*/